{% extends "base.html" %}

{% block title %}Go by bike!{% endblock %}

{% block content %}
    <div class="hero-image"></div>
{#.hero {#}
{#    background: {{ url_for('static', filename='img/countryside_cyclist.jpg') }} center / cover;#}
{#}#}
    <h1 style="font-size: 40px; font-weight: bold">It's time!</h1>
    <h2 style="font-size: 40px; font-weight: bold">To get on your bike</h2>

{% endblock %}

{% block footer %}
    <p>Copyright <script>document.write(new Date().getFullYear())</script> </p>
{% endblock %}